<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stories.storyappn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.storiestech.org.application.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.storiestech.org.activities.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.storiestech.org.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.storiestech.org.activities.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.storiestech.org.activities.StoryListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.storiestech.org.activities.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.storiestech.org.activities.ReadLaterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.storiestech.org.activities.RecentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>